$component-spacing: 20px;

@mixin table-borders {
  border: 1px black solid;
}

body {
  margin: 50px;
}

.nav-query {
  margin-bottom: $component-spacing;
  .nav-query-records-selector {
    margin-bottom: 10px;

    label {
      margin-right: 5px;
      vertical-align: middle;
    }
  }

  .nav-query-button-group {
    button {
      margin: 0 5px;
    }

    button:first-child {
      margin-left: 0;
    }

    button:last-child {
      margin-right: 0;
    }
  }
}

.result-data-info {
  margin-bottom: $component-spacing;
  overflow: hidden;

  [class^="col-"] {
    width: 50%;
    float: left;
  }

  ul {
    margin-left: 20px;
  }
}

table.result-table {
  width: 100%;

  &, tr, td, th {
    @include table-borders;
  }

  tr {
    td {
      padding-top: 2px;
      padding-bottom: 3px;
      text-align: center;

      &.highlight {
        background-color: orange;
      }
    }
  }
}

.clipboard-data {
  position: absolute;
  left: -9999px;
}
