<template>
  <div id="app">
    <nav class="nav-query">
      <div>
        Set number of records
        <input type="number"
               name="numberOfRecords"
               v-on:change="onNumberOfRecordsSet">
        <div class="nav-query-records-selector">
          <div class="nav-query-records-selector">
            <span v-for="(option) of numberOfRecordsOptions"
                  :key="option">
            <input type="radio"
                   name="numberOfRecords"
                   :value="option"
                   v-on:change="onNumberOfRecordsChange">
            <label>{{ option }}</label>
            </span>
          </div>
        </div>
        <div class="nav-query-button-group">
          <button v-on:click="getValues"
                  autofocus>Get
          </button>
          <button v-on:click="findValues"
                  :disabled="!valuesData">Find
          </button>
          <!--<button type="button"-->
          <!--[disabled]="!valuesData && !getValuesStartTime && !findValuesEndTime"-->
          <!--(click)="copyToClipboard()">Copy results to clipboard-->
          <!--</button>-->
          <button v-on:click="reset()"
                  :disabled="!valuesData">Reset
          </button>
        </div>
      </div>
    </nav>
    <div>
      <div class="result-data-info">
        <div class="col-1">
          <h3>Data info</h3>
          <ul>
            <li>Keyword: {{ valuesData ? valuesData.keyWord : placeholder }}</li>
            <li>Keyword found count: {{ valuesData ? valuesData.keyWordCount : placeholder }}</li>
            <li>Min keyword: {{ valuesData ? valuesData.min : placeholder }}</li>
            <li>Max keyword: {{ valuesData ? valuesData.max : placeholder }}</li>
            <li>Total records: {{ valuesData ? valuesData.size : placeholder }}</li>
          </ul>
        </div>
        <div class="col-2">
          <table class="result-table">
            <thead>
            <tr>
              <th>{{ vueForNRecordsLabel }}</th>
              <th>{{ renderingLabel }}</th>
              <th>{{ reRenderingLabel }}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>{{ valuesData ? valuesData.size : placeholder }}</td>
              <td>{{ getValuesTime() }}</td>
              <td>{{ findValuesTime() }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <table class="result-table">
        <tbody>
        <tr v-for="row of rowIds()"
            :key="row">
          <td v-for="col of columnIds()"
              :key="col"
              v-bind:class="{highlight : highlightKeyword && getValueAt(row, col) === valuesData.keyWord}">
            {{ getValueAt(row, col) }}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
    /* eslint-disable no-console */

    // import HelloWorld from './components/HelloWorld.vue'
    import { ValueService } from './services/value.service';

    export default {
        name: 'app',
        components: {
            // HelloWorld
        },
        // beforeCreate: function(){
        //   console.log('beforeCreate');
        // },
        // created: function(){
        //   console.log('created');
        // },
        // beforeMount: function(){
        //   console.log('beforeMount');
        // },
        mounted: function () {
            this.initExperiment();
        },
        // beforeUpdate: function () {
        //     console.log('beforeUpdate');
        // },
        updated: function () {
            if (this.gettingData && this.valuesData) {
                this.getValuesEndTime = performance.now();
                this.gettingData = false;
                this.continueExperiment();
            } else if (this.findingData) {
                this.findingData = false;
                this.findValuesEndTime = performance.now();
                this.completeExperiment();
            }
        },
        data: function () {
            return {
                valuesData: null,
                highlightKeyword: null,

                getValuesStartTime: null,
                getValuesEndTime: null,
                findValuesStartTime: null,
                findValuesEndTime: null,
                gettingData: null,
                findingData: null,

                // numberOfRecordsSelectedByDefault: 10,
                numberOfRecords: 10,
                numberOfRecordsOptions: [10, 20, 50, 100, 200, 500, 1000, 2000, 5000, 10000],

                vueForNRecordsLabel: 'Vue for [n] records',
                renderingLabel: 'Rendering [ms]',
                reRenderingLabel: 'Re-rendering [ms]',
                placeholder: '---',

                runExperiment: true,
                maxIteration: 10,
                separator: ';',
                experimentData: null,
            };
        },
        methods: {
            columnCount: function () {return 10},
            rowCount: function () {
                return this.valuesData ? Math.ceil(this.valuesData.size / this.columnCount()) : 0;
            },
            columnIds: function () {
                const arr = [];

                for (let i = 0; i < this.columnCount(); i++) {
                    arr[i] = i;
                }

                return arr;
            },
            rowIds: function () {
                const arr = [];

                for (let i = 0; i < this.rowCount(); i++) {
                    arr[i] = i;
                }

                return arr;
            },
            getValues: function () {
                this.reset();
                ValueService.getValues(this.numberOfRecords)
                    .then(
                        response => {
                            this.gettingData = true;
                            this.getValuesStartTime = performance.now();
                            this.valuesData = response.data;
                        }
                    );
            },
            findValues: function () {
                this.highlightKeyword = true;
                this.findingData = true;
                this.findValuesStartTime = performance.now();
            },
            onNumberOfRecordsChange: function (event) {
                let val = parseInt(event.target.value);
                this.setNumberOfRecords(val);
            },
            onNumberOfRecordsSet: function (event) {
                let val = parseInt(event.target.value);
                this.setNumberOfRecords(val);
            },
            setNumberOfRecords(val) {
                this.numberOfRecords = val;
                this.reset();
            },
            reset: function () {
                this.valuesData = null;
                this.highlightKeyword = false;
                this.getValuesStartTime = null;
                this.getValuesEndTime = null;
                this.findValuesStartTime = null;
                this.findValuesEndTime = null;
                this.gettingData = null;
                this.findingData = null;
            },
            getValueAt: function (row, col) {
                const index = row * this.columnCount() + col;
                return this.valuesData.data[index];
            },
            getValuesTime: function () {
                if (this.getValuesEndTime && this.getValuesStartTime) {
                    let result = this.getValuesEndTime - this.getValuesStartTime;
                    return result.toFixed(5);
                } else {
                    return this.placeholder;
                }
            },
            findValuesTime: function () {
                if (this.findValuesEndTime && this.findValuesStartTime) {
                    let result = this.findValuesEndTime - this.findValuesStartTime;
                    return result.toFixed(5);
                } else {
                    return this.placeholder;
                }
            },
            // Experiment
            hasExperimentEnded: function () {
                return (this.experimentData.recordIndex >= this.numberOfRecordsOptions.length);
            },
            initExperiment: function () {
                if (!this.runExperiment) {
                    return;
                }

                let initData = {
                    iterationIndex: 0, // experiment run for same records number
                    recordIndex: 0, // changes data requested
                    data: `frontend${this.separator}numberOfRecords${this.separator}loadingtime${this.separator}rendeting${this.separator}re-rendering`
                };

                this.experimentData = JSON.parse(sessionStorage.getItem('vueExperimentData'));
                if (!this.experimentData) {
                    this.experimentData = initData;
                    sessionStorage.setItem('vueExperimentData', JSON.stringify(this.experimentData));
                }

                if (this.experimentData.iterationIndex >= this.maxIteration) {
                    this.experimentData.recordIndex++;
                    this.experimentData.iterationIndex = 0;
                }

                if (!this.hasExperimentEnded()) {
                    this.setNumberOfRecords(this.numberOfRecordsOptions[this.experimentData.recordIndex]);

                    // EXPERIMENT: Start
                    this.experimentData.iterationIndex++;
                    this.getValues();
                } else {
                    console.log('Experiment has ended');
                    console.log('Final experiment results:');
                    console.log(this.experimentData.data);
                    // this.copyStringToClipboard(this.experimentData.data);
                    // console.log('Copied to clipboard');
                }
                // Remove session data
                // sessionStorage.removeItem('vueExperimentData');
            },
            continueExperiment: function () {
                if (!this.runExperiment) {
                    return;
                }

                // EXPERIMENT: Find results
                setTimeout(() => {
                    this.findValues();
                }, 1000);
            },
            completeExperiment: function () {
                if (!this.runExperiment) {
                    return;
                }

                // EXPERIMENT: Get all experiment data
                setTimeout(() => {
                    this.experimentData.data = this.experimentData.data + this.prepareExperimentResult();
                    sessionStorage.setItem('vueExperimentData', JSON.stringify(this.experimentData));
                    window.location.reload(true);
                }, 1000);
            },
            prepareExperimentResult: function () {
                let firstPaintTime = performance.timing.domComplete - performance.timing.navigationStart;
                return `\nvue${this.separator}${this.valuesData.size}${this.separator}${firstPaintTime}${this.separator}${this.getValuesTime()}${this.separator}${this.findValuesTime()}`;
            }
            // Experiment End
        }
    }
</script>

<style lang="sass">
  @import "styles/reset.scss"
  @import "styles/main.scss"
</style>
